PoCoF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema version="0.8" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Context"/>

  <xsd:element name="Metadata">
  </xsd:element>

  <xsd:element name="Tensor">
  </xsd:element>

  <xsd:element name="Message">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:any minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute name="from" type="xsd:string"/>
      <xsd:attribute name="to" type="xsd:string"/>
      <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="State">
  </xsd:element>
</xsd:schema>
